@model IEnumerable<ProjetAsp2.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">


            <!-- Export Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">List of Cars</h4>
                    <div class="pull-right">
                        <a asp-action="Create" class="btn btn-primary btn-sm scroll-click"> Create Car</a>
                    </div>
                </div>

                <div class="pb-20">
                    <table class="table table-bordered multiple-select-row data-table-export nowrap">
                        <thead>


                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Nom)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Matricule)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transmission)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Carburant)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NbSiege)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prix)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                               

                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var car in Model)
                            {
                            <tr>

                                <td class="table-plus">
                                    <img src="~/images/@car.CarPicture"
                                         class="rounded-circle"
                                         height="40" width="40"
                                         asp-append-version="true" />
                                    @car.Nom
                                </td>
                                <td class="table-plus">
                                    @car.Matricule
                                </td>

                                <td class="table-plus">
                                    @car.Transmission
                                </td>
                                <td class="table-plus">
                                    @car.Carburant
                                </td>
                                <td class="table-plus">
                                    @car.NbSiege
                                </td>
                                <td class="table-plus">
                                    @car.Prix
                                </td>

                                <td class="table-plus">
                                    @car.Description
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@car.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@car.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                                </td>
                            </tr>
                            }




                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Export Datatable End -->
        </div>

    </div>
</div>


































